<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Editing Book</h1>
    <%= form_for(@book) do |f| %>
    <div class="field row">
      <h5>Title</h5>
      <%= f.text_field :title, class: "col-xs-12" %>
    </div>
    <div class="field row">
      <h5>Opinion</h5>
      <%= f.text_area :body, class: "col-xs-12" %>
    </div>
    <div class="field action row">
      <%= f.submit "Update Book", class: "col-xs-12 btn btn-primary" %>
    </div>
    <% end %>
  </div>
  <div>
    <%= link_to "Show", book_path(@book.id) %>
    |
    <%= link_to "Back", books_path %>
  </div>
  <div class="col-xs-3"></div>

</div>
