<div class="row">
  <%= render 'books/info', book: @book, user: @user %>

  <div class="col-xs-9">
    <h2>Book detail</h2>
    <table class="table">
      <tbody>
        <table class="table">
          <tbody>
            <tr>
              <td></td>
              <td> <%= @book_show.title %> </td>
              <td> <%= @book_show.body %></td>
              <% if @book_show.user_id == current_user.id %>
                <td> <%= link_to "Edit", edit_book_path(@book_show.id), class: "btn btn-success" %></td>
                <td> <%= link_to "Destroy", book_path(@book_show.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %></td>
              <% end %>
            </tr>
          </tbody>
        </table>
      </tbody>
    </table>
  </div>
</div>
