<div class="row">

  <%= render 'books/info', book: @book %>

  <div class="col-xs-9">
    <h2>Book detail</h2>
    <table class="table">
      <tbody>
        <tr>
          <td></td>
          <td><%= link_to @book_show.title, book_path(@book_show.id) %></td>
          <td><%= @book_show.body %></td>
          <td><%= link_to "Edit", edit_book_path(@book_show.id), class: "btn btn-success" %></td>
          <td><%= link_to "Destroy", book_path(@book_show), method: :delete, class: "btn btn-danger", "data-confirCm" => "本当に削除しますか？" %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
