<!DOCTYPE html>
<html>
  <head>
    <title>Bookers23</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="container">
        <nav class="nav navbar-nav navbar-left"><span>Bookers</span></nav>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home", "#", class: "glyphicon glyphicon-home" %></li>
            <li><%= link_to "About", "#", class: "glyphicon glyphicon-link" %></li>
            <li><%= link_to "sign up", "#", class: "glyphicon glyphicon-edit" %></li>
            <li><%= link_to "login", "#", class: "glyphicon glyphicon-log-in" %></li>

            <li><%= link_to "Home", "#", class: "glyphicon glyphicon-home" %></li>
            <li><%= link_to "Users", "#", class: "glyphicon glyphicon-user" %></li>
            <li><%= link_to "Books", "#", class: "glyphicon glyphicon-book" %></li>
            <li><%= link_to "logout", "#", class: "glyphicon glyphicon-log-out" %></li>
        </nav>
      </div>
    </header>

    <div class="container">
    <p id="notice"><%= notice %></p>

    <%= yield %>

    </div>



    <footer>
      <div class="container">
        <div class="row">
          <div class="col-xs-3 col-xs-offset-9">
            <p>CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>
