<!DOCTYPE html>
<html>
  <head>
    <title>Bookers23</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="container">
        <nav><span>Bookers</span></nav>
        <nav>
          <ul>
            <li>Home</li>
            <li>About</li>
            <li>sign up</li>
            <li>login</li>

            <li>Home</li>
            <li>Users</li>
            <li>Books</li>
            <li>logout</li>
          </ul>
        </nav>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
